
original assets/Blank.png
original assets/Consent Back Template.png
original assets/Dall-E Shoeless.webp
original assets/Dall-E Winkers.webp
original assets/Original Banner.png
original assets/Original DoubleDown.webp
original assets/Original Down.webp
original assets/Original Satisfied.webp
original assets/Rounding DoubleDown.png
original assets/Rounding Down.png
original assets/RoundingSatisfied.png
original assets/Shoeless.png
original assets/Template DoubleDown.png
original assets/Template Down.png
original assets/TemplateSatisfied.png
original assets/Winkers.png
original assets/BlankPAge.pdf
original assets/BooklletBackCover.png
original assets/BooklletFrontCover.png
original assets/Consent Card Examples.png
original assets/GameDiagram.png
original assets/InstructionsBooklet.pages
original assets/InstructionsBookletPrintLayout.pdf
original assets/Theme Card Examples.png
original assets/InstructionsBooklet portuguese.pdf
original assets/GameBoardPrint.numbers
